.content {
    padding: 20px 50px;
}

.card-table {
    margin-top: 20px;
    width: 100%;
}

/*ion-icon .s-primary {*/
/*    color: blue;*/
/*}*/

/*ion-icon .s-warning {*/
/*    color: yellow;*/
/*}*/

/*ion-icon .s-success {*/
/*    color: green;*/
/*}*/
